body
{
    margin: 0;
    padding: 0;
    background-color: rgb(248, 248, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header
{
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFD767;
}

.rec
{
    width: 30%;
    height: 40px;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#brand img
{
    width: 40%;
    margin-right: 250px;
}

.rec .bt
{
    width: 20%;
    height: 35px;
    margin-left: 250px;
    background-color: #E43F31;
    color: white;
    outline: none;
    border: 0;
    border-radius: 5px;
}

.rec .ser
{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rec input[type="search"]
{
    padding: 10px;
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: black;
    transition: 0.4s;
}

.rec ::placeholder
{
    color: black;
    opacity: 0.5;
}

.rec button[type="submit"]
{
    padding: 10px;
    outline: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    margin-left: -30px;
}

.nav
{
    width: 15%;
    height: 500px;
    overflow: hidden;
    position: sticky;
    --offset:var(--space);
    top: var(--offset);
   /* display: block;*/
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
}

.nav a
{
    display: block;
    text-decoration: none;
    color: black;
    opacity: 0.5;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 1.5px;
    transition: 0.4s;
}

.nav a:hover
{
    color: #FFD767;
    opacity: 1;
}

#active
{
    background-color: #dcdcdd;
    color: #FFD767;
    opacity: 1;
}

#img
{
    width: 50%;
    height: 70px;
    margin-top: 20px;
}

#ma
{   width: 100%;
    height: 500px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard
{
    width: 85%;
    height: 500px;
    padding-top: -15px;
    background-color: rgb(248, 248, 248);
     display: flex;
     flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.red
{
    width: 80%;
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E4;
}

#h2
{
    color: black;
    display: flex;
    margin-left: 50px;
    font-size: 20px;
}

#man
{
    /* width: 60%;
    height: 500px; */
    /* padding-top: 60px; */
}  

#side
{
    width: 40%;
    height: 500px;
    padding-top: 60px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

#dash
{
    width: 100%;
    height: 250px;
    /* background-color: #FFD767; */
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box
{
    width: 25%;
    height: 180px;
    border-radius: 10px;
    background-color: #E4E4E4;
}

.box h3 
{
    margin-left: 15px;
}

.box h4
{
    margin-left: 15px;
}

#table
{

    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdd;

}

table
{
    width: 80%;
    padding: 20px;
}

table th
{
    text-align: left;
    padding-bottom: 10px;
}

table td
{
    padding: 10px;
}